<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="4.7.5" />
  <package id="OpenTK.Compute" version="4.7.5" />
  <package id="OpenTK.Core" version="4.7.5" />
  <package id="OpenTK.Graphics" version="4.7.5" />
  <package id="OpenTK.Input" version="4.7.5" />
  <package id="OpenTK.Mathematics" version="4.7.5" />
  <package id="OpenTK.OpenAL" version="4.7.5" />
  <package id="OpenTK.Windowing.Common" version="4.7.5" />
  <package id="OpenTK.Windowing.Desktop" version="4.7.5" />
  <package id="OpenTK.Windowing.GraphicsLibraryFramework" version="4.7.5" />
</packages>